@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1080px;
    margin: auto;
    padding: 5px;
    color: #333;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: gray;

}

.header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center -5px;
    
}

.name {
    margin-left: 25px;
    flex: 1;

}


.name p {
    font-weight: 300;
}

.cblue {
    color: #53a1b8;
}

.bold {
    font-weight: 700;
}

a {
    text-decoration: none;
}
.neckline {
    border: 2px solid #53a1b8;
}
.about {
    text-align: justify;
    max-width: 720px;
    margin: auto;
}